<div class="container">
    

    <mat-card>
        <mat-card-content>
            <!-- <table mat-table [dataSource]="data" class="mat-elevation-z8">
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                  <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                  <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
              </table> -->


              <!-- <table>
                <thead>
                  <tr>
                    <th>First Name</th>
                   <th>Last Name</th>
                   <th>Email</th>
                     <th>Username</th>
                   <th>Password</th>
                     <th>Site</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of dataSource;">
                    <td>{{ item.firstName}}</td>
                   <td>{{ item.lastName}}</td>
                     <td>{{ item.email }}</td>
                    <td>{{ item.username }}</td>
                   <td>{{ item.password }}</td>
                     <td>{{ item.site }}</td>
                  </tr>
                </tbody>
              </table>  -->
           <button class="btn btn-primary" routerLink="/signup">add User</button>&nbsp;
           <!-- <button class="btn btn-primary" routerLink="/site">Add Sites</button> -->
            
              
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table mt-5">
              
                <ng-container matColumnDef="demo-position">
                  <th mat-header-cell *matHeaderCellDef> First Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                  
                </ng-container>
              
               
                <ng-container matColumnDef="demo-name">
                  <th mat-header-cell *matHeaderCellDef> Last Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>
              
               
                <ng-container matColumnDef="demo-weight">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
              
               
                <ng-container matColumnDef="demo-symbol">
                  <th mat-header-cell *matHeaderCellDef> Username </th>
                  <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>
                <ng-container matColumnDef="demo-password">
                  <th mat-header-cell *matHeaderCellDef> Password </th>
                  <td mat-cell *matCellDef="let element">***************</td>
                </ng-container>
                <ng-container matColumnDef="demo-site">
                  <th mat-header-cell *matHeaderCellDef> Site </th>
                  <td mat-cell *matCellDef="let element"> {{element.site}} </td>
                </ng-container>
                <ng-container matColumnDef="demo-delete">
                  <th mat-header-cell *matHeaderCellDef> Delete User </th>
                  <td mat-cell *matCellDef="let element"> <button class="btn btn-danger">Delete</button>&nbsp;<button class="btn btn-success">Update</button> </td>
                  
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              
            
        </mat-card-content>
    </mat-card>
</div>       
                    

  

